# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
user-management-service/.idea
user-management-service/target
user-management-service/user-management.iml
user-management-service/user-management-service.iml
gateway-service/.idea
gateway-service/target
user-intrface/flutter-mobile/instance-voice-chat/.dart_tool/
user-intrface/flutter-mobile/instance-voice-chat/.idea/
user-intrface/flutter-mobile/instance-voice-chat/.flutter-plugins/
user-intrface/flutter-mobile/instance-voice-chat/.flutter-plugins-dependencies

embedded-iam/target/
embedded-iam/.idea/

/user-intrface/.dart_tool
/user-intrface/.idea
/user-intrface/flutter-mobile/.idea
/user-intrface/flutter-mobile/instance-voice-chat/build
/user-intrface/flutter-mobile/instance-voice-chat/ios
/user-intrface/flutter-mobile/instance-voice-chat/android
