version: '3'
services:
  gateway:
    build:
      context: ./gateway-service
      dockerfile: Dockerfile
    image: instance-voice-chat_gateway
    ports:
      - "127.0.0.1:8888:8888"
  embeded-iam:
    build:
      context: ./embedded-iam
      dockerfile: Dockerfile
    image: embeded-iam
    ports:
      - "127.0.0.1:8080:8080"
  user-management:
    build:
      context: ./user-management-service
      dockerfile: Dockerfile
    image: embeded-iam
    ports:
      - "127.0.0.1:8081:8081"
